@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: orange;
}
body {
  background: black;
}
.panel {
  position: absolute;
  z-index: 100;
}
.hover {
  cursor: pointer;
}
.spooky-text {
  font-family: "Nosifer", system-ui, sans-serif;
  font-size: x-large;
}
#info {
  right: 1%;
  bottom: 0%;
}
#copyright {
  left: 1%;
  bottom: 2%;
}
#enter {
  bottom: 2.5%;
  left: 0%;
  width: 100%;
  text-align: center;
}
#business {
  top: 10%;
  left: 20%;
  width: 100%;
  text-align: center;
}
#businessNext {
  bottom: 10%;
  left: 0%;
  width: 100%;
  text-align: center;
}
#pumpkin {
  bottom: 10%;
  left: 0%;
  width: 100%;
  text-align: center;
}
#halloween {
  bottom: 10%;
  left: 0%;
  width: 100%;
  text-align: center;
}
#end {
  top: 10%;
  left: 0%;
  width: 100%;
  text-align: center;
}
